[2020-05-09 14:13] jdegoes opened #1 "Add a tiny figlet font parser"
Once a parser is written, this can be used to render the name of the CLI application in a nice way, e.g.:

[code]

Example [here](https://github.com/rsimp/jfig/tree/master/src/main/java/io/rsimp/jfig) and some discussion on format [here](https://github.com/Marak/asciimo/issues/3).

[2020-05-09 14:20] jdegoes opened #2 "Auto-generation bash script to perform completions for a given CLI"
Bash is a common shell for Linux / BSD operating systems. Bash has a feature whereby you can have the shell auto-complete options for a command-line argument, which can simplify usage of command-line applications.

See [here](https://iridakos.com/programming/2018/03/01/bash-programmable-completion-tutorial) for a tutorial and [here](https://www.gnu.org/software/bash/manual/html_node/Programmable-C

[2020-05-09 14:21] jdegoes opened #3 "Auto-generate zshell script to perform completions for a CLI"
See [here](https://mads-hartmann.com/2017/08/06/writing-zsh-completion-scripts.html) for a tutorial, [here](http://zsh.sourceforge.net/Doc/Release/Completion-System.html#Completion-System) for the reference, and #2 for the corresponding Bash ticket for more details.

[2020-05-09 14:36] jdegoes opened #4 "Create sbt-plugin to package CLI app as GraalVM native Docker image"
A small and simple SBT plug-in that can package up a CLI application as a GraalVM native docker image would make it much easier to prepare ZIO CLI applications for deployment.

Perhaps [this](https://www.scala-sbt.org/sbt-native-packager/formats/graalvm-native-image.html#) could be a source of inspiration or a component of this solution.

[2020-05-09 14:39] jdegoes opened #5 "Implement error-correction using Levenshtein distance"
If a command or flag is not recognized verbatim, then using Levenstein distance calculation, the closest command(s) / flag(s) can be identified, and the suggestion made to the user.

e.g.:

[code]

In order to implement this feature, a simple Levenstein distance function can be implemented. Atop this, a separate method can be added to `Command`, perhaps, `autoCorrections`, which returns a `List[He

[2020-05-09 14:45] jdegoes opened #6 "Add ZIO Config integration"
There are two potential points of integration:

 - [ ] It should be possible to generate a ZIO Config descriptor from a CLI specification. This would allow code that uses ZIO Config to plug a nice CLI on top.
 - [ ] It should be possible to load ZIO Config data as a set of "defaults", that can be overwritten using CLI information. For example, like `.gitconfig` and `.jvmopts` and many other comman

[2020-05-09 14:47] jdegoes opened #7 "Add ZIO Test integration"
Using custom assertions and / or other combinators, it should be easy to test ZIO CLI applications, feeding them test "standard input" and validating standard error / standard output, as well as process exit codes.

[2020-05-09 14:52] jdegoes opened #8 "Implement parser for CLI"
We need to parse the command-line options into the data type required by the user.

[2020-05-09 14:54] jdegoes opened #9 "Implement document generator for CLI"
There is a type `HelpDoc` in the code now, and various methods that generate help doc, implemented with `???` for now.

All these methods need to be implemented.

[2020-05-09 14:55] jdegoes opened #10 "Support standard input via ZIO environment"
The process standard input should be available as a `ZStream` from ZIO environment, so that CLI applications that process the standard input can do so easily.

[2020-05-09 14:56] jdegoes opened #11 "Support standard output / standard error via ZIO environment"
CLI applications should be able to dump information to standard output / standard error (possibly via a stream?).

[2020-05-09 14:57] jdegoes opened #12 "Create simple examples of ZIO CLI"
This ticket is to create a new module in the repository, called `examples`. This module will define `CLIApp` (command-line applications) for a variety of simple existing or fictional command-line applications.

Examples could include:

 - `wc`
 - `cat`
 - `tail`

These examples should demonstrate a range of features of ZIO CLI, including booleans, options, flags, arguments, custom documentation, a

[2020-05-09 14:58] jdegoes opened #13 "Support default commands for CLI applications"
Several commands can be supported by default, including:

 - `--help` which displays help on standard output. This variation should work with commands and subcommands, and display specific / tailored help if appropriate.
 - `--version` which displays version information on standard output

It should be possible for users to "opt out" of these default commands or override them in some fashion.

[2020-05-09 15:22] jdegoes opened #14 "Create all-in-one "installer" for a ZIO CLI application"
The installer or package should do the following:

 - Download the GraalVM native image or Docker image
 - Add the CLI application to the path
 - Add completions for bash and zshell

Inspiration could be taken from [Fury](https://github.com/propensive/fury/blob/master/etc/install.sh) which seems to do a nice job with this.

[2020-05-15 06:25] jdegoes opened #17 "Add Flags constructors (Single) for various data types"
- integer (BigInt)
 - decimal (BigDecimal)
 - path (java.io.file.Path). For this one, we should accept (optionally) some options like: should it exist or not exist (or doesn't matter?)? should it be a file or a directory (or doesn't matter?)?
 - all java.time structures (instant, datetime, etc.)

[2020-05-15 08:18] DamianReeves opened #18 "Solidify Argument support"
Args should support:

- [x] optional, required, and variadic
- [x] providing a name for an argument (this will be important when generating help and docs)
- [x] providing a description

[2020-05-16 18:51] jdegoes commented on #18
@DamianReeves Done, I think, can you review and close this?

[2020-05-16 18:52] #17 closed

[2020-05-16 18:52] jdegoes opened #20 "Add parsers / validators for PrimType"
All the PrimType methods need a validator / parser. The method has been sketched out but not implemented.

[2020-05-17 05:07] edvmorango commented on #20
Hi John, I've started to work on that issue, but I had troubles with the Scala compiler (something related to the GADT), I've tried these snippets:

[code]

[code]

Could you help me?

[2020-05-17 14:20] jdegoes commented on #20
@edvmorango Try to just implement the method in each subtype and see if that solves the problem.

It may be caused by the covariance on `A` which could be solved by implementing it privately in the companion object and delegating to that implementation in the supertype.

[2020-05-17 16:07] defrag commented on #20
Hey folks, my bad that i didn't check issue this morning, didn't see anyone started working on it, and i flushed some first version in #21 .

[2020-05-17 16:31] DamianReeves commented on #8
I'll give this one a shot.

[2020-05-17 16:57] DamianReeves commented on #8
So is parsing just directly matching the datatype assuming we've already "mapped" sections of the command line to portions of the command line?

Or is it more validating the command-line against a "schema"?
Do we build up the Schema like a parser combinator would for example, from the ADT we've provided?

[2020-05-17 23:01] jdegoes commented on #8
@DamianReeves

The core parsing functionality we need to implement is sketched out in `Command#validate`, which currently has this  sig:

[code]

At a high-level, this function either:

1. Fails, in which case it fails with one or more `HelpDoc.Block` messages./
2. Succeeds, in which case it produces a tuple containing:
  - Remaining command line arguments
  - Options
  - Consumed Arguments

A com

[2020-05-27 10:16] #18 closed

[2020-05-29 23:15] jdegoes opened #24 "Add automatic --wizard command that generates menus and prompts"
The structure of `Command` permits an interactive mode that generates menus and prompts, e.g.:

[code]

This ticket is to prototype such a wizard mode, which will walk the user through providing arguments and options using interactive menu prompts.

[2020-05-30 15:36] DamianReeves opened #26 "Consider merging Command A and B into a single type"
Right now command separates `options` and `args` into 2 state channels and there is no way to merge into 1 piece of state (i.e. a single case class).

[2020-06-24 16:36] jdegoes commented on #9
/cc @leonnardo

[2020-09-20 07:34] ashprakasan commented on #12
Working on this with @TobiasPfeifer

[2020-09-26 19:26] TobiasPfeifer opened #31 "Have all Options constructors and operations return Options[A] for a fluent API"
Operators like `optional` and `alias` work on `Single` only. This way it's not possible to do
`Options.bool("fullname", true).alias("f")`

`Single` should be an implementation detail instead. All constructors and operations should return `Options[A]`.

[2020-09-26 19:53] TobiasPfeifer opened #33 "Variadic Args.file with exists=true fails with wrong error message if file does not exist"
`(Args.file("files", true) *).validate("doesNotExist.file" :: Nil, ParserOptions.default)`

fails with

`List(Paragraph(Error(Text(Unexpected arguments for command wc: List(doesNotExist.file)))))`

expected

`List(Paragraph(Error(Text(doesNotExist.file is not a recognized path.))))`

Can be reproduced by running the `WcApp` Example with unrecognized file.

My investigation so far:

`validate` in `

[2020-10-28 11:30] #31 closed

[2020-11-14 18:19] jdegoes commented on #26
Fixed in some (unknown) commit!

[2020-11-14 18:19] #26 closed

[2020-11-15 01:05] jdegoes commented on #1
The figlet parser should parse the figlet file format. There exist Figlet parsers in Java that could serve as inspiration.

[2020-11-15 03:37] jdegoes opened #35 "Add a figlet font renderer"
This can be used to render the name of the CLI application in a nice way, e.g.:

[code]

Example [here](https://github.com/rsimp/jfig/tree/master/src/main/java/io/rsimp/jfig) and some discussion on format [here](https://github.com/Marak/asciimo/issues/3).

This will be used in conjunction with #1.

[2020-11-15 04:30] #7 closed

[2020-11-15 04:34] #6 closed

[2020-11-15 04:35] #9 closed

[2020-11-15 04:35] jdegoes commented on #9
Fixed in some commit(s) already

[2020-11-15 04:35] #11 closed

[2020-11-15 04:35] jdegoes commented on #8
Fixed enough for now, modulo bugs and improvements.

[2020-11-15 04:35] #8 closed

[2020-11-15 04:36] #10 closed

[2020-11-15 04:55] jdegoes commented on #13
These are partially supported, although improvements are necessary. Tracking on separate tickets.

[2020-11-15 04:55] #13 closed

[2020-11-15 05:00] jdegoes opened #36 "Document and verify / add tests for all `PrimType` classes"
The `PrimType` values are the primitive types in ZIO CLI, and represent things like strings or numbers or paths. They have, principally, a `validate` method which attempts to validate the value of a primitive type.

Tests and Scala doc should be added for all `PrimType` classes.

[2020-11-15 05:22] jdegoes opened #37 "Implement Magnolia derivation for user-defined ADTs"
A user-defined ADT, consisting of sealed traits, case classes, and strings/collections, could, in theory, be used to derive a `Command` that produces a data structure of that type.

For example:

[code]

This can be done using Magnolia, and following a pattern similar to ZIO JSON.

We should also add annotations to provide custom details which cannot be inferred from the structure of the ADT alone

[2020-11-15 05:25] jdegoes opened #38 "Implement `HelpDoc.toHTML`"
Currently, `HelpDoc.toPlaintext` is implemented. However, some details are not preserved well in plaintext format, but can be captured more precisely using HTML. Therefore, we should implement a renderer to HTML on `HelpDoc`, which tries to create a beautiful and useful representation of the help documentation for a CLI application.

[2020-11-16 00:02] jdegoes opened #39 "Smoothly integrate built-in commands into user's own `Command` structure"
The user of ZIO CLI must define a CLIApp, which is the command-line application itself. One of the fields is `Command`, which represents the top-level command of the CLI application.

Currently, this command is kept separate from the "built-in" options that CLIApp supports, including `--help`, and in the future, `--version`. This means that when a user prints out help documentation, the `--help` o

[2020-11-17 22:41] jdegoes opened #41 "Document and verify / add tests for all Options constructors"
The Options constructors create a wide range of options. Their `validate` method and other methods should be documented and tested in `OptionsSpec`.

[2020-11-17 22:42] jdegoes opened #42 "Document and verify / add tests for all Args constructors"
The Args constructors create a wide range of options. Their validate method and other methods should be documented and tested in ArgsSpec.

[2020-11-18 00:29] jdegoes opened #43 "Refactor PrimType#validate to accept ParserOptions"
Currently, ParserOptions are not threaded down into PrimType#validate, which means the primitive types cannot take advantage of any parser-specific settings. This could be useful, especially in the future. So we should refactor the validate method to take the parser options.

[2020-11-20 20:23] alterationx10 commented on #4
I'd like to help with this one!

[2020-11-20 20:29] eriktim commented on #5
I would like to work on this one.

[2020-11-20 21:36] FrancisToth commented on #43
Hi, I want to give it a try slightly_smiling_face

[2020-11-20 22:23] domartynov commented on #1
I'd like to take the ticket -- a good coding exercise for me (as a Scala noob) with a very limited in scope :)

I don't understand how the work shared between #1 and #35 -- implementing `FigDriver` covers parsing and rendering, or #35 means integration into `zio-cli`?

[2020-11-20 22:24] a-morales commented on #5
Hello, I'd like to help with this task.

[2020-11-20 22:44] vladimir-popov commented on #37
I will take it with @asakaev and @sapizhak

[2020-11-20 22:51] FrancisToth commented on #1
Hey @domartynov , want some help on this? Let's meet on the discord channel

[2020-11-20 22:54] FrancisToth commented on #43
PR [here](https://github.com/zio/zio-cli/pull/45)

[2020-11-20 22:57] FrancisToth commented on #38
I can give a try on this one :)

[2020-11-20 23:19] jdegoes opened #46 "Ensure tests are run using Github Actions"
Would be nice to integrate with Github Actions to run tests on pull requests and merges to master.

Any volunteers? 😄

[2020-11-20 23:37] katlasik commented on #46
I can work on this one

[2020-11-20 23:40] #43 closed

[2020-11-20 23:42] jdegoes commented on #1
@domartynov This one would cover parsing, but not rendering the font. Of course, you can do parsing and rendering both!

Typically, you would parse into a typed, immutable data structure, say, `FigletFont`. Then you would have a way to render some text given a provided `FigletFont`. Hence, 2 tickets, although of course closely related.

[2020-11-20 23:48] Bloznelis commented on #39
I would like to work on this one during the hackathon.

[2020-11-21 00:45] alterationx10 commented on #4
@jdegoes This might have been more complicated in May than it was in August 😄  I have played around with the sbt-native-packager, but there is also the sbt plugin https://github.com/scalameta/sbt-native-image that has recently come out which performs the sorcery of even automatically downloading/installing GraalVM native-image!

Would you recommend still integrating a custom sbt plugin for this, o

[2020-11-21 01:27] domartynov commented on #1
That's the plan. The referenced Java implementation incapsulates all in FIGEngine (in OOP manner), so i initially assumed that in the context of `zio-cli` we just want to expose only something like `Figlet.render(flfPath:String, text: String): String` as the use case is narrow :)

[2020-11-21 02:17] FrancisToth commented on #35
Working on this :)

[2020-11-21 02:36] FrancisToth commented on #38
So far I've implemented a very simple rendered that renders the `zio.cli.CommandSpec.Tail` like this:
[code]
This is far from being beautiful. Should I simply add some CSS to make it nicer? Or would this be the goal of another issue?

[2020-11-21 08:10] h-ayat commented on #3
Interesting feature, I'd like to work on it.

[2020-11-21 08:57] ioreskovic commented on #24
Heya, I'd like to give this a go!

[2020-11-21 09:03] kovszilard commented on #41
I would like to work on this.

[2020-11-21 10:06] Porcupine96 commented on #14
Hi, I would like to try to tackle this together with @JakDar 🙂

[2020-11-21 11:11] shankarshastri commented on #42
@jdegoes , I would like to explore this.

[2020-11-21 11:24] jdegoes commented on #38
I think some CSS to make it look nice by default would be quite nice!

[2020-11-21 11:30] jdegoes commented on #46
@katlasik Great, let me know if you have any questions!

[2020-11-21 11:30] jdegoes commented on #42
@shankarshastri Sounds great! The `ArgsSpec` already exists in the `test` directory and has a few basic tests, so the idea is to just expand them and be sure to test everything in the `Args.scala` file. Let me know if you have any questions!

[2020-11-21 11:31] jdegoes commented on #41
@kovszilard Sounds great! You can see some Options already have a few tests, but mostly, the file `Options.scala` is untested. So you could systematically work through the constructors and operators, and add more tests to the existing Spec. Let me know if you have any questions!

[2020-11-21 11:32] jdegoes commented on #39
@Bloznelis Sounds good. Warning: This one is quite tricky! Let me know if you want a hand or need a backup (/simpler) ticket.

[2020-11-21 11:32] shankarshastri commented on #42
@jdegoes , It will be great if you can point me to the file, because I couldn't find it

[2020-11-21 11:33] jdegoes commented on #37
@vladimir-popov Awesome. Good luck and let me know if you need any hints / further clarifications!

[2020-11-21 11:34] jdegoes commented on #35
@FrancisToth Awesome! Should be both tricky and fun in the way these sorts of problems tend to be. 😄

[2020-11-21 11:36] #20 closed

[2020-11-21 11:43] Mohamedali10 commented on #33
@jdegoes I will try to work on this issue.

[2020-11-21 11:48] jdegoes commented on #14
@Porcupine96 Awesome!

Fury's installer script was actually moved into a runner script: <https://github.com/propensive/fury/blob/main/fury>

I like this idea, and I think our own "installer" script could actually be a runner, too, to simplify the process of running the application. Then the first part of the runner would check and see if the app is installed, and if not, it could first download an

[2020-11-21 11:49] #12 closed

[2020-11-21 11:51] jdegoes opened #48 "Extract out examples into a separate top-level "examples" project, and add more details"
Currently thanks to @TobiasPfeifer and @ashprakasan, we have some examples of ZIO CLI in the `Example.scala`.

However, we should extract these examples into a separate top-level project, make sure each of them is in a separate file, and try to more fully flesh them out or add other examples that demonstrate more of ZIO CLI's features for options and arguments.

[2020-11-21 11:55] jdegoes commented on #5
@a-morales Awesome! You might use Discord to find someone to help pair on this, or feel free to reach out to me for clarifications or help!

This could be divided into two phases:

1. Implementing Levenstein distance, together with tests, using memoization + recursion, or dynamic programming. There are lots of existing implementations in the wild to draw inspiration from.
2. Using this distance fu

[2020-11-21 11:59] shankarshastri commented on #42
@jdegoes , I was starting on it, should we test the method wise for each class that extends Args?

[2020-11-21 12:01] jdegoes commented on #24
@ioreskovic This one will be great fun!

There are a few steps:

1. Adding a new Options for a `--wizard` mode.
2. Ensuring CLIApp will run the wizard when `--wizard` is specified.
3. The Wizard implementation will be different for each type of Command. But for those commands that have options / arguments, they will match on the Options / Args, and prompt the user for them.
4. Eventually when all

[2020-11-21 12:04] asakaev commented on #48
I will take it with @vladimir-popov @sapizhak

[2020-11-21 12:09] jdegoes commented on #4
@alterationx10 This looks nice!

Maybe it would be possible to have an SBT plug-in that depends on `sbt-native-image`, but which can also perform ZIO CLI-specific actions, such as generating the runner/installer script and so forth?

It would be nice to have an SBT task called `build-cli` or something that performs the full process, resulting in the native image configured appropriately for the CL

[2020-11-21 12:11] alterationx10 commented on #4
There could be some tasks to generate the shell completion as well

[2020-11-21 12:12] jdegoes commented on #3
@h-ayat If you take a look at Fury, a Scala build tool, you can see an example of how this feature is used to great effect.

We have several choices of how to do this one. First off, the auto-completions could be "dumb" and generated from introspecting the Command. Second, they could be "smart" and the shell script could specify running the CLI App in a special mode to generate the auto-completion

[2020-11-21 12:12] jdegoes commented on #2
More details here: #3

[2020-11-21 12:13] jdegoes commented on #1
@domartynov Good luck! WIth @FrancisToth's help you're in good hands. 😉

[2020-11-21 12:29] ioreskovic commented on #24
Thx for the hints @jdegoes!

I have a question right away, something that came to my mind during Adam's talk.

Should wizard usage be permitted with semi-completed command-line args?

For example, let's say there are 2 commands, `foo` and `bar`, and `foo` has 3 options and 2 arguments, `optA`, `optB`, `optC` & `arg1`, `arg2`. Would the following usage be valid/doable?

[code]

My assumption is tha

[2020-11-21 12:57] katlasik commented on #46
@jdegoes I created [PR](https://github.com/zio/zio-cli/pull/49).

I run tests on java 8, 11 and 14. Is that ok?

I don't know Scala.js very well, do we also need to run specific tests for it?

[2020-11-21 13:09] katlasik commented on #36
I can take this one

[2020-11-21 13:56] TobiasPfeifer commented on #33
@Mohamedali10 where you able to reproduce the bug? I've just recognized the changes introduced to fix #40 could also have fixed this already

[2020-11-21 15:37] jdegoes opened #51 "Refactor List[HelpDoc] to HelpDoc"
There are places in the code that use `List[HelpDoc]`. However, two help docs can be combined into one using `+`. So this is not necessary. In fact, we can change all code that currently uses the type `List[HelpDoc]` into an ordinary `HelpDoc`.

[2020-11-21 15:37] TobiasPfeifer commented on #48
I've already implemented WcApp using ZStream to print file statistics for #12 this morning
I'll rebase my changes on top of @asakaev changes #50
@vladimir-popov @sapizhak have you already put work into implementing logic for WcApp?

[2020-11-21 15:40] Mohamedali10 commented on #33
@TobiasPfeifer using the repeat method could reproduce the problem, but it can not reproduce the problem if we use repeat1 that comes from the fix #40 .

[2020-11-21 15:45] hollinwilkins commented on #51
I wanna work on this one

[2020-11-21 15:47] vladimir-popov commented on #48
we've already done all what we wanted in this PR

[2020-11-21 15:49] vladimir-popov commented on #37
@jdegoes how we can derive an arbitrary class for command when it could be derived from options or form args or from both?
[code]

[2020-11-21 16:08] jdegoes opened #52 "Introduce --help support for all subcommands (recursively)"
Currently, `--help` is only available for the top-level command. This is inconvenient, because we have full documentation for all subcommands. Yet, at the same time, we cannot display _all_ documentation on a single page. We should wait until the user requests help for a subcommand to print the help.

Thus, our subcommand help can work a bit like `git`:

[code]

Now, in order to make this work, we

[2020-11-21 16:09] vladimir-popov commented on #37
I think we can derive both `Options` and `Args`, and separate `Command`'s type parameter on two explicitly different:
[code]

[2020-11-21 16:14] hollinwilkins commented on #52
Happy to take a look at this one

[2020-11-21 16:18] hollinwilkins commented on #51
PR here: https://github.com/zio/zio-cli/pull/53

## Summary of Changes
1. Find and replace all instances of List[HelpDoc] with HelpDoc
1. Get rid of all cons operations in validate methods
1. Get rid of HelpDoc.Enumeration as this has been replaced by HelpDoc.Sequence
1. Get rid of unused renderText method inside of toPlainText

[2020-11-21 16:20] #48 closed

[2020-11-21 16:21] ashprakasan commented on #2
I'll take a stab at this.

[2020-11-21 16:28] hollinwilkins opened #54 "Spec is failing in master"
### Overview

There is a failing spec in master:

[code]

## Changes Requested

Fix the failing spec

[2020-11-21 17:43] shankarshastri commented on #42
I understood that PrimeTypeSpec.scala already has tests covered, except for few cases which needs to be covered. I will take a look at them :)

[2020-11-21 17:48] Porcupine96 commented on #14
Hi @jdegoes !

We made a POC which can be tested by setting the following variables in `installer.sh`.

[code]

The runner works as follow:
1) It downloads the JAR file from $downloadUrl
2a) If a user has Graal with native-image installed it builds and saves a native image from JAR
2b) If not, it runs the JAR with `java -jar`
3) It executes the CLIApp passing the proper options/args

Additionally

[2020-11-21 17:59] JakDar commented on #14
Script with filled variables is also [here](https://github.com/JakDar/zio-cli-test/blob/master/installer.sh), one can download example app using this script via:
[code]

[2020-11-21 18:59] hollinwilkins commented on #54
Running specs on another computer works fine, probably something with the environment on this computer.

[2020-11-21 18:59] #54 closed

[2020-11-21 18:59] alterationx10 commented on #4
WIP PR #57 for early discussion

[2020-11-21 19:04] sapizhak commented on #37
We are not really sure that the automatic derivation of Commands requires implementation. Current type signature of `Command` does not provide information about types that define `Options` and `Args`. Furthermore we are unable to tell from the case class signature what defines it application - a set of `Options`, set of `Args` or both of them.

We might have solved this by widening the `Command[+A

[2020-11-21 19:40] nathanknox opened #59 "Create Spec for `HelpDoc.scala`"
Introduce a test spec for HelpDoc.scala. Look to test tricky combination and things like:

[2020-11-21 19:42] nathanknox commented on #59
Claiming for ZIO-Hackathon.

[2020-11-21 21:39] FrancisToth commented on #38
I'm not really a good web developer, but I took some inspiration from ZIO's website. I'd like to extract the hardcored CSS code and use an external file instead, but this would imply returning an effect from `toHtml`. Maybe more work would be required here, but I'd like some feedback first. I hope it meets your expectations :)

https://github.com/zio/zio-cli/pull/61

[2020-11-21 22:14] #39 closed

[2020-11-22 11:15] ioreskovic commented on #24
@jdegoes
I don't think I'll be able to get this done in time for Hackaton, I found it to be much trickier than I initially assessed. :disappointed:
Nevertheless, I'd like to continue working on it in my spare time. Is that OK?

[2020-11-22 15:31] #42 closed

[2020-11-23 14:42] nathanknox commented on #59
https://github.com/zio/zio-cli/pull/69

[2020-11-24 00:46] #4 closed

[2020-11-27 15:54] jdegoes opened #70 "Support negation name for Options"
For boolean options, we should support an optional negation name, such that, for example:

[code]

turns the option ON, where as:

[code]
turns the option OFF.

[2020-11-27 15:57] jdegoes opened #71 "Support boolean option grouping"
Grouping is a feature whereby boolean, single-letter flags may be clustered together.

For example, instead of writing:

[code]

You could write:

[code]

Supporting this is tricky, because it requires two things:

1. All of the clustered options need to be of type boolean.
2. The clustered option cannot match any other option.

This seems to require "global knowledge" but right now the validation

[2020-11-27 16:00] jdegoes opened #72 "Support property arguments"
Property arguments are options (which may be repeated) whose values are actually key/value pairs.

Example syntax:

[code]

To support these, we probably need a new `Options.Map` which parses options of the specified name (`-D` in these examples) into a map, where the key and value types could be `PrimType`.

[2020-11-27 16:01] #51 closed

[2020-11-27 16:01] #52 closed

[2020-11-27 16:02] #46 closed

[2020-11-27 16:02] #5 closed

[2020-11-27 16:06] #14 closed

[2020-11-27 16:06] jdegoes commented on #24
@ioreskovic Yes, it's fine to work on after the hackathon. Let me know if you need any help and be sure to fill out the form to claim your t-shirt!

[2020-11-27 16:07] #33 closed

[2020-11-27 16:08] #36 closed

[2020-11-27 16:09] jdegoes commented on #37
I am closing this for now, but I saw how Li took this approach for his new library:

[mainargs](https://github.com/lihaoyi/mainargs)

[2020-11-27 16:09] #37 closed

[2020-11-27 16:09] #38 closed

[2020-11-27 16:09] jdegoes commented on #41
@kovszilard Did we get this merged in?

[2020-11-27 16:31] jdegoes opened #73 "Support displaying help pages for subcommands"
Displaying help should work for subcommands, and such help pages should make it clear that the help they are displaying is not the top-level help, but rather, help for the specific subcommand.

e.g.:

[code]

[2021-01-04 18:32] ioreskovic commented on #24
@jdegoes I was finally able to pick this up, and I have some questions/issues about how `CliApp#run` is structured, mainly when it comes to subcommands.

Let's take a subset of `git`

[code]

Then, using recursive encoding, it looks like this:

[code]

Now, let's take a look at type `A` in `Command[+A]` for the following structure.

[code]

As we can see here, inferred type is `Command[((GitModel,

[2021-01-04 21:24] jdegoes commented on #24
I think you should not care about the types at all, and simply generate a `List[String]` which will be parsed and processed via the ordinary mechanisms for doing so.

Note that in a real application, when you use `.subcommands`, you would feed it commands that generate a sum type (`sealed trait`), rather than different, unrelated case classes.

[2021-01-04 21:37] jdegoes commented on #24
We could do a pair programming session for 30 minutes, would that help?

[2021-01-04 22:45] ioreskovic commented on #24
I would love to, but my timetable is packed until Wednesday.
I'll try to fiddle with it until Wednesday, and then reach you on Discord if I still have issues? Is that OK?

[2021-01-05 13:48] jdegoes commented on #24
Yes, sounds good!

[2021-01-23 08:45] landlockedsurfer commented on #70
Hi all,
I started working on this issue.

[2021-02-01 21:05] jdegoes opened #84 "Ensure subcommands parse their command-names from the command-line arguments"
We need a test case that when we have something like `git merge` (a top-level command `git` with a subcommand `merge`), that the subcommand parses off the subcommand name (`merge`) from the command-line arguments, before trying to parse its own options and args.

[2021-02-05 19:26] jdegoes commented on #84
/cc @landlockedsurfer

[2021-02-10 12:58] landlockedsurfer commented on #84
I already made some progress on this... pull request will hopefully come soon.

[2021-02-10 17:27] jdegoes commented on #84
Awesome!

[2021-03-05 19:23] #84 closed

[2021-05-15 19:04] kpritam opened #90 "Display summary text for all the subcommands for top level --help option"
Currently running `app --help` just prints name of the commands but it would be nice if it also prints Summary or Header information along with the name similar to following `git --help` command

![image](https://user-images.githubusercontent.com/17781757/118375239-26028a80-b5de-11eb-91cb-78d579de399a.png)

[2021-06-01 20:29] jgoday commented on #90
@kpritam I have tried to implement this in #91.

Could it be a valid solution?

[2021-06-02 05:39] kpritam commented on #90
@jgoday Nice to see your PR.
I see you are printing complete help i.e. help for nested options as well.

But if you look at `git` cli, when you say `git --help`, it does not print nested options. It only prints top level command names and their description.

To see individual help, one need to run for example, `git pull --help` command.

[2021-06-02 11:21] jgoday commented on #90
@kpritam should be fixed now then.
It looks like this
![image](https://user-images.githubusercontent.com/11801/120471740-5f404600-c3a5-11eb-83e4-2660d679fb75.png)

[2021-06-02 17:29] kpritam commented on #90
@jgoday I have not tested it but your last screenshot is what I was looking for. 🎉
Maybe it is good to align command name and its description in single line.

[2021-06-02 20:10] jgoday commented on #90
@katlasik If we want to display the subcommand name and the description in one line,
we have to decompose the description helpDoc and get his span text to append it with the name.

![image](https://user-images.githubusercontent.com/11801/120545319-c8987700-c3ee-11eb-85fc-97a2097d225b.png)

[2021-08-01 00:58] adamsar opened #92 "Documentation microsite 404"
https://zio.github.io/zio-cli/ is giving a 404 right now.

Is this project discontinued?

[2021-08-02 05:57] adamsar commented on #92
Answered in the chat. Project will continue, primary focus as of 8/21 is ZIO 2.0

[2021-08-02 05:57] #92 closed

[2021-08-29 22:35] kitlangton commented on #90
I actually don't mind the description on another line :)
By the by, I've updated the library to the newest version of ZIO and would like to help get it ready for primetime. Let me know if there's anything I can help with :)

[2021-09-03 01:45] #90 closed

[2021-09-23 19:52] jgoday commented on #73
Hi, I have created https://github.com/zio/zio-cli/pull/95 trying to implement this question.

[2021-10-19 21:32] swoogles opened #96 "Upgrade to ZIO 2.0"
ZIO 2.0 is at Milestone 4, with an RC expected in the next few weeks.
https://github.com/zio/zio/releases/tag/v2.0.0-M4

The API is nearly stable at this point, so any early migration work against this version should pay off towards the official 2.0 release.

The progress is being tracked here:
zio/zio#5470

The Stream Encoding work in progress is the only area where the API might still change bef

[2021-10-26 20:55] kitlangton opened #98 "Use `Zippable` from ZIO when zipping together Args and Options"

[2021-10-29 03:39] #98 closed, assigned to nobody

[2021-10-29 19:14] #35 closed

[2021-10-29 19:14] #59 closed

[2021-10-29 19:16] #70 closed

[2021-10-29 19:44] #72 closed

[2021-10-29 19:44] #73 closed

[2021-10-29 20:01] kitlangton opened #103 "Flatten Units in `++`, `.subcommands`, and `Command.apply` methods"
This will be similar to ZIO's `Zippable`, which helps deal with awkward nesting of tuples when zipping polymorphic effects. In our case, don't want to be forced to `.map(_._2)`, when the left or right hand side of a composed Command/Options/Args is a Unit. These Units are usually the cruft of combining Options or Args values that do not generate a value. For example:

`Command("something", Options

[2021-10-29 20:03] kitlangton commented on #103
Happy to do this as a giant pairing session if anyone is interested :)

[2021-10-29 20:05] kitlangton opened #104 "Improve Command.apply to not require Options.none/Args.none"
If we can make Options.none and Args.none extend Option[Nothing]/Args[Nothing], then we'll be able to provide default values for these in the `Command.apply` method. Currently, you need to write Args.none or Options.none, which isn't as nice as it could be.

[2021-10-29 20:15] jdegoes commented on #103
🙏 🙏 🙏

"Composable zips"

[2021-10-29 20:27] harveywi commented on #2
I'd like to give this a go 😎 If anyone else is interested, feel free to join me.

[2021-10-29 20:50] jdegoes commented on #104
I am not sure if this will work, but if it has issues, I would recommend that you add `.args` and `.options` methods on `Command`, which zip together the existing args/options with the provided (new) args/options. Then the constructor for `Command` can just take a string, and you can do `Command("foo").args(...).options(...)`. The `Unit` will go away through compositional zips.

[2021-10-30 16:53] NavidJalali commented on #103
I will try this out

[2021-10-30 21:31] vdeclerk commented on #71
I'm looking at this issue.

Since Options assume:

`
private def makeFullName(s: String): String = (if (s.length == 1) "-" else "--") + s
`

Can't we "unCluster" the args that have length > 1 and start with "-"  when parsing?
If matching options of length different to 1 exist should start with "--".
I'm talking about transforming for example:
wc -cw filename
To
wc -c -w filename
Before validating

[2021-10-30 23:05] #104 closed

[2021-10-31 04:15] #71 closed

[2021-10-31 06:30] harveywi commented on #2
Whew! https://github.com/zio/zio-cli/pull/107

[2021-10-31 16:03] #1 closed

[2021-10-31 17:47] #41 closed

[2021-10-31 19:08] #103 closed

[2021-12-05 01:31] dvdprr6 opened #110 "How to import zio-cli in a project"
I am using ZIO in my current project and I would like to include CLI functionality. Unfortunately, this github repo has a broken documentation link and the README.md file has no info on how to import this library into a project.

Please provide information how to import this into my project, it would be greatly appreciated. Note: I am using gradle.

[2021-12-10 17:56] justin-corn opened #112 "Display subcommands in HelpDoc synopsis"
When using subcommands, the generated synopsis for non-leaf subcommands does not include the partial subcommand "path."

For example, given a sub command structure
[code]
such that `foo a one blue` is a leaf command, the `Synopsis` section in `--help` documentation doesn't include relevant subcommand names.

Example:
Any level of non-leaf subcommand  `foo a --help`, `foo a one --help`, produces
[c

[2021-12-10 18:58] justin-corn opened #113 "Display possible subcommands for non-leaf nested subcommands"
When using nested subcommands, the generated help doc does not list subcommands for any non-leaf subcommand whose distance from a leaf is > 1.

For example, given a sub command structure
[code]
The this command correctly enumerates subcommands in the `SUBCOMMANDS` section in the help doc
[code]
But these commands do not
[code]
[code]

[2021-12-10 19:03] justin-corn opened #114 "Display subcommand short desc in synopsis"
When using nested subcommands, subcommand description text is not displayed next to each subcommand in the synopsis `SUBCOMMANDS` section.  This would be helpful for usage understanding, and a cursory reading of the source for `zio-cli` seems to suggest that it was originally intended behavior.

Given a subcommand hierarchy like this
[code]
the command `foo a one --help` produces
[code]

The expec

[2021-12-17 23:32] justin-corn commented on #114
I think this can be closed, I probably wasn't using the lib correctly.  I've been working on a fix for #113 , so it's possible that fix is doing the trick, but either way I can see subcommand descr displayed correctly in these cases; this issue therefore seems like a duplicate or non-issue.

[2021-12-17 23:32] #114 closed

[2021-12-23 14:38] harveywi commented on #2
Here's a PR that implements the rest of the tab completion machinery for Bash: https://github.com/zio/zio-cli/pull/119

[2022-01-04 16:28] dbuschman7 commented on #113
I just ran into this.

[2022-02-17 02:29] #110 closed

[2022-03-04 13:26] yarosman opened #121 "Documentation is missed"
It is very hard to start to work with zio-cli without documentation

[2022-03-18 20:43] DamianReeves opened #123 "Replace Reducable with Zippable?"
It seems to me that `zio-cli`'s `Reducable` can now be replaced by `Zippable` from `zio` now that we are on `ZIO` 2.0.

What do you think? Can we drop `Reducable` and just use `Zippable`?

@jdegoes , @kitlangton , @adamgfraser

[2022-03-22 11:40] jdegoes commented on #123
It looks to me like that's the case.

[2022-03-22 20:41] kitlangton commented on #123
Oops. I commented on the discord, but will copy here:

There's a slight semantic difference. Recudable—which is a bad name :D—simply removes units when zipping, but keeps other tuples. I found this to be slightly nicer in the instances we're using it here.

[2022-04-11 16:30] #123 closed

[2022-05-23 14:56] #2 closed

[2022-05-24 16:10] jorge-vasquez-2301 commented on #112
I'm working on this one 🙂

[2022-09-27 19:55] DamianReeves opened #136 "Runtime error when calling zio-cli with subcommands"
When I try and run `zio-cli` with the subcommand structure from here: https://github.com/finos/morphir-scala/blob/052462e8accb6003c86532f69cb6cc1f60318189/morphir/tools/cli/src/org/finos/morphir/cli/CliSetup.scala I end up getting a Runtime error due to calling `tail` on a `Nil` list.

[code]

[2022-09-28 16:19] adamgfraser commented on #136
Thanks for reporting! Will take a look!

[2022-09-28 17:04] adamgfraser commented on #136
@DamianReeves I am not able to reproduce. Can you please post the command you are running that causes the error as well as ideally a self-contained example without external dependencies?

[2022-10-21 12:29] kirankbs commented on #121
+1. I spent already 30 minutes and was still not able to figure out how to proceed or end up writing in plain Scala.